<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue || Js</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <script src="assets/js/vue.js"></script>


</head>
<body>

    <!-- <div id="app">
        {{ message }}
    </div>
    
    <script>
        var app = new Vue({
            el : '#app',
            data : {
                message : 'Hello Vue!'
            }
        })
    </script> -->

    <div id="app">
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" v-model="firstName"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" v-model="lastName"></td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td><input type="text" v-model="fullName"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="button" value="Full Name" @click="fname"></td>
            </tr>
        </table>
    </div>

    <script>
        var vm = new Vue({
            el : '#app',
            data : {
                firstName : '',
                lastName : '',
                fullName : ''
            },
            methods : {
                fname : function(){
                    this.fullName = this.firstName + ' ' + this.lastName;
                }
            }
        });
    </script>


    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>